body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100vh;
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #38ACEC;
	width: 1240px;
	height: 65px;
	top: -16px;
	left: 0px;
	position: absolute;
}

li {
	display: block;
	padding: 0 20px;
	color: #FFF;
	font-size: 25px;
	font-family: sans-serif;
	text-transform: uppercase;
	transition: .5s;

}

li a {
	text-decoration: none;
	color: #FFF;
	transition: .2s;
	padding: 10px;
}


ul:hover li a:hover {
    font-size: 25px;
    background-color: #ede739;
}